<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NLP engine interface - example project</title>
  </head>

    <body>

      <header>
        <section class='header-container'>
          <div class="greeting">Welcome to the AYLIEN sentiment interface!</div>
        </section>
      </header>

      <main>

        <section>
            <input id="input-form" type="text" name="input" value="" placeholder="Please enter text to analyze">
            <input id="button" type="submit" name="" value="submit">
        <section>

        <section class='results-header'>
          <strong>Sentiment analysis results:</strong>
          <div id="results"></div>
        </section>

      </main>

      <footer>
        <p>&copy;2019 - Tamas Dinh - <a href='mailto:tamas.dinh@gmail.com'>Email me</a></p>
      </footer>

    </body>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>

</html>
